ion-toolbar.themedBackground {
  --background: local center / cover no-repeat
    url("../../theme/NMDC_microbe_light.png");
  --opacity: 0.6;
}

.themedBackground ion-button {
  --opacity: 1;
}

/* Note: `:global()` switches to the global scope for the wrapped selector.
         Reference: https://github.com/css-modules/css-modules/blob/master/docs/composition.md#exceptions */
:global(:root.ion-palette-dark) {
  ion-toolbar.themedBackground {
    --background: local center / cover no-repeat
      url("../../theme/NMDC_microbe_dark.png");
  }
}

ion-toolbar.offlineToolbar {
  --min-height: 1.25rem;
}

.offlineWarning {
  font-size: var(--nmdc-font-size-sm);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  & ion-icon {
    margin-right: 4px;
  }
}

.loadingBar {
  position: absolute;
  bottom: 0;
  z-index: 11;
}
