ion-toolbar.themedBackground {
  background: local center / cover no-repeat
    url("../../theme/NMDC_microbe_light.png");
  --opacity: 0.6;
}

.themedBackground ion-button {
  --opacity: 1;
}

/* Note: `:global()` switches to the global scope for the wrapped selector.
         Reference: https://github.com/css-modules/css-modules/blob/master/docs/composition.md#exceptions */
:global(:root.ion-palette-dark) {
  ion-toolbar.themedBackground {
    background: local center / cover no-repeat
      url("../../theme/NMDC_microbe_dark.png");
  }
}
