.info {
  padding: 0px 15px 0px 15px;
  font-size: var(--nmdc-font-size-sm);
  opacity: 0.6;
}

.listItem {
  a {
    text-decoration: none;
  }
}

.listIcon {
  position: absolute;
  top: 5px;
  left: 15px;
}

.listLabel {
  margin-left: 25px;
}
