ion-list.slotSelectorBanner {
  padding: 0;

  & ion-item {
    --min-height: auto;
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
    font-size: 0.875rem;
  }

  & ion-button {
    --color: var(--ion-color-primary-contrast);
    font-weight: 500;
  }
}
