ion-modal.sampleSlotEditModal {
  /**
   * This is the height of the modal when it is in the "expanded" state. The docs recommend this
   * approach over having a max breakpoint < 1. See:
   *   - https://ionicframework.com/docs/api/modal#custom-sheet-height
   *   - https://github.com/ionic-team/ionic-framework/issues/24583
   */
  --height: 80vh;
}

ion-modal.sampleSlotEditModal::part(content) {
  /**
   * This makes the sheet modal handle look a little more natural when content scrolls under it.
   * The value is derived from the handle height and top offset.
   */
  padding-top: 15px;
}

.inputAndClearContainer {
  border-color: var(--ion-color-primary);
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  padding: 0 8px;
  position: relative;
}

.inputWrapper {
  padding-right: 30px;
}

.inputWrapper ion-textarea {
  --padding-top: 12px;
  --highlight-color-focused: none;
}

.clearWrapper {
  position: absolute;
  top: calc(var(--padding-top) - 8px);
  right: 4px;
}

.clearButton {
  width: 30px;
  height: 30px;
  font-size: 20px;
  background: none;
  border: none;
  color: var(--ion-color-medium);
}

.inputMessage {
  --background: transparent;
  --padding-start: 0;
}
