<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC4EY0mwN1Nj4Wm65HUUlwaV2ULY3qW0Ao</string>
	<key>GCM_SENDER_ID</key>
	<string>1064768027275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.microbiomedata.fieldnotes.dev</string>
	<key>PROJECT_ID</key>
	<string>nmdc-field-notes-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>nmdc-field-notes-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064768027275:ios:67c930283511745685b28e</string>
</dict>
</plist>