.markdown {
  font-size: var(--nmdc-font-size-sm);
  line-height: 1.5;

  a {
    text-decoration: none;
  }

  ul {
    padding-inline-start: 1.25em;
  }

  li {
    margin: 10px 0;
  }

  li::marker {
    color: var(--ion-color-primary);
    font-size: 1.25em;
    line-height: 0;
  }

  blockquote {
    margin: 0;
    border-left: 4px solid var(--ion-color-primary);
    padding-left: 1em;
    opacity: 0.8;
  }
}
