/* Note: These are "utility" classes for which I failed to find an equivalent `ion-*` class. */

.fullHeight {
  height: 100%;
}

.marginAuto {
  margin: auto;
}

.marginBottomZero {
  margin-bottom: 0;
}

.paddingBottomZero {
  padding-bottom: 0;
}
